

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tailwind Starter Template - Ghostwind CSS : Tailwind Toolbox</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">
		
</head>

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Tailwind CSS -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


  <title>Tailwind CSS CDN</title>
</head>
<body>
    <header>
        <nav class="bg-white shadow">
            <div class="container mx-auto px-6 py-3 ">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex justify-between items-center">
                        <div class="text-xl font-semibold text-gray-700">
                            <a href="#" class="text-gray-800 text-xl font-bold hover:text-gray-700 md:text-2xl"></a>
                        </div>
    
                        <!-- Mobile menu button -->
                        <div class="flex md:hidden">
                            <button type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                                <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
    
                    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                    <div class="hidden -mx-4 md:flex md:items-center">
                    
                    </div>
                </div>
            </div>
        </nav>
    
        <div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(https://i.pinimg.com/736x/68/92/e2/6892e2d51ef6a99bd7a2ddb4672b8bdd.jpg);">
            <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
                <div class="text-center">
                    <h1 class="text-white text-2xl font-semibold uppercase md:text-3xl">Find Costumes By Difficulty Level <span class="underline text-blue-400"></span></h1>
                    
                </div>
            </div>
        </div>
    </header>
    <h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-black-800 items-center text-center">
        Beginner
      </h1>

  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <!--Card 1-->
    <div class="rounded overflow-hidden shadow-lg">
        <a href = "/infantCostumeBeginner">
      <img class="" src="https://justsimplymom.com/wp-content/uploads/2020/07/Make-a-LION-Circus-Costume-4.jpg" alt="Mountain">
      </a>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2  items-center text-center">Infant/Baby</div>
      </div>
    </div>
    <!--Card 2-->
    <div class="rounded overflow-hidden shadow-lg">
        <a href = "/childCostumeBeginner">
      <img class="w-full" src="https://kenarry.com/wp-content/uploads/2018/10/mummy-costume-kids-5.jpg" alt="River">
      </a>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 items-center text-center">Child</div>
        <p class="text-gray-700 text-base">
        </p>
      </div>
    </div>

    <!--Card 3-->
    <div class="rounded overflow-hidden shadow-lg">
        <a href = "/adultCostumeBeginner">
      <img class="w-full" src="https://www.thesprucecrafts.com/thmb/dVQXwQgf1JMqn4Zm0kj0Sd7DlEA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/NightmareBeforeChristmas-3a2b86868a384c2087714839e3f16af2.jpg" alt="Forest">
      </a>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 items-center text-center">Adult</div>
        
      </div>
    </div>
  </div>
</div>
<h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-black-800 items-center text-center">
    Easy
  </h1>


<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
<!--Card 1-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/infantCostumeEasy">
  <img class="" src="https://photos.costume-works.com/full/baby_gumball_machine.jpg" alt="Mountain">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  items-center text-center">Infant/Baby</div>
  </div>
</div>
<!--Card 2-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/childCostumeEasy">
  <img class="w-full" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/baseball-trophy-halloween-costume-1661884488.png?crop=0.8986599664991626xw:1xh;center,top&resize=980:*" alt="River">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Child</div>
    <p class="text-gray-700 text-base">
    </p>
  </div>
</div>

<!--Card 3-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/adultCostumeEasy">
  <img class="w-full" src="https://www.thesprucecrafts.com/thmb/xesq7kL-ZgDinWEa49HZ_bllhXQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/diy-furby-costume-90s-toys-10-6650543af62e48fc8d049ddc64c38aa3.jpg" alt="Forest">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Adult</div>
    
  </div>
</div>
</div>
</div>
<h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-black-800 items-center text-center">
    Normal
  </h1>

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
<!--Card 1-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/infantCostumeNormal">
  <img class="" src="https://www.craftionary.net/wp-content/uploads/2014/09/diy_blackcat_costume.png" alt="Mountain">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  items-center text-center">Infant/Baby</div>
  </div>
</div>
<!--Card 2-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/childCostumeNormal">
  <img class="w-full" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/halloween-costume-for-kids-cowboy-1635358225.jpeg?crop=1xw:0.9952978056426333xh;center,top&resize=980:*" alt="River">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Child</div>
    <p class="text-gray-700 text-base">
    </p>
  </div>
</div>

<!--Card 3-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "adultCostumeNormal">
  <img class="w-full" src="https://www.thesprucecrafts.com/thmb/6Qf4UnPGPeCyLUM9oPhU86yWcI8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/SnowWhite-874d368352b44cfd8ee7dc09fe9ee89f.jpg" alt="Forest">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Adult</div>
    
  </div>
</div>
</div>
</div>
<h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-black-800 items-center text-center">
    Hard
  </h1>

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
<!--Card 1-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/infantCostumeHard">
  <img class="" src="https://www.craftionary.net/wp-content/uploads/2014/09/matryoshka_baby_doll_costume.jpg" alt="Mountain">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  items-center text-center">Infant/Baby</div>
  </div>
</div>
<!--Card 2-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/childCostumeHard">
  <img class="w-full" src="https://hips.hearstapps.com/clv.h-cdn.co/assets/cm/15/09/54eb0a156a77a_-_clx-costumes-for-kids-hot-air-balloon-s2.jpg?crop=0.9635416666666666xw:1xh;center,top&resize=980:*" alt="River">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Child</div>
    <p class="text-gray-700 text-base">
    </p>
  </div>
</div>

<!--Card 3-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "adultCostumeHard">
  <img class="w-full" src="https://www.thesprucecrafts.com/thmb/nVcTJFr3hfyA-mPE8YzK0CIf65M=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/diy-mermaid-costume-26-30da9c20070e414f9e947483fb0caa04.jpg" alt="Forest">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Adult</div>
    
  </div>
</div>
</div>
</div>
<h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-black-800 items-center text-center">
    Expert
  </h1>

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
<!--Card 1-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/infantCostumeExpert">
  <img class="" src="https://www.craftionary.net/wp-content/uploads/2014/09/rainbow_baby_costume.jpg" alt="Mountain">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  items-center text-center">Infant/Baby</div>
  </div>
</div>
<!--Card 2-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/childCostumeExpert">
  <img class="w-full" src="https://hips.hearstapps.com/clv.h-cdn.co/assets/16/30/1469735853-clx100109-153-1-8.jpg?crop=1.0xw:1xh;center,top&resize=980:*" alt="River">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Child</div>
    <p class="text-gray-700 text-base">
    </p>
  </div>
</div>

<!--Card 3-->
<div class="rounded overflow-hidden shadow-lg">
    <a href = "/adultCostumeExpert">
  <img class="w-full" src="https://www.thesprucecrafts.com/thmb/VJsvX3KGiN6QuGZ_6-50VVRhegA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Frida-d030a57573624299a2e1bb34f84f710d.jpg" alt="Forest">
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 items-center text-center">Adult</div>
    
  </div>
</div>
</div>
</div>
</body>
</html>
