<%- include('partials/header') -%>
<!-- Tailwind CSS -->
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


<title>Tailwind CSS CDN</title>
</head>
<body>
  <header>
      <nav class="bg-white shadow">
          <div class="container mx-auto px-6 py-0 ">
              <div class="md:flex md:items-center md:justify-between">
                  <div class="flex justify-between items-center">
                      <div class="text-xl font-semibold text-gray-700">
                          <a href="#" class="text-gray-800 text-xl font-bold hover:text-gray-700 md:text-2xl"></a>
                      </div>
  
                      <!-- Mobile menu button -->
                      <div class="flex md:hidden">
                          <button type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                              <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                  <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                              </svg>
                          </button>
                      </div>
                  </div>
  
                  <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                  <div class="hidden -mx-4 md:flex md:items-center">
                  
                  </div>
              </div>
          </div>
      </nav>
  
      <div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/09/02/17/istock-1175106211.jpg?width=990&auto=webp&quality=75);">
          <div class="flex items-center justify-center h-full w-full  bg-opacity-50">
              <div class="text-center">
                  <h1 class="text-white text-2xl font-semibold uppercase md:text-3xl">Share your diy costumes with others! <span class="underline text-blue-400"></span></h1>
                  
              </div>
          </div>
      </div>
  </header>




<div class="py-0">
        <div class="max-w-7xl mx-auto sm:px-0 lg:px-8 opacity-75">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-white border-b border-gray-200">
                    <form action="/post/createPost" method="POST" id="createPostForm" name="createPostForm" enctype="multipart/form-data">
                        <div class="mb-4 pt-4 text-base font-bold">
                            <label for="title" class="text-xl text-gray-600">Costume Name</label>
                            <input type="text" class="border-2 border-gray-300 p-2 w-full" id="title" name="title">
                        </div>
                        <div class="mb-4 pt-4 text-base font-bold">
                            <label for="materials" class="text-xl text-gray-600">Materials</label></br>
                            <input type="text" class="border-2 border-gray-300 p-2 w-full" name="materials" id="materials" placeholder="(Optional)" form="createPostForm">
                        </div>
                        <div class="mb-8 pt-4 text-base font-bold ">
                            <label for="caption" label class="text-xl text-gray-600"> <span class="">Instructions</span></label></br>
                            <textarea id="content" name="caption" class="border-2 border-gray-500" form="createPostForm"></textarea>
                        </div>
                        
                        <div class="mb-3 pt-4 text-base font-bold ">
                        <label for ="difficulty">Difficulty</label>
                        <select name="difficulty" id="difficulty" form="createPostForm">
                          <option value="Beginner">Beginner</option>
                          <option value="Easy">Easy</option>
                          <option value="Normal">Normal</option>

                          <option value="Expert">Expert</option>
                        </select>
                        <div class="mb-3">
                          <label for ="age">Age</label>
                          <select name="age" id="age" form="createPostForm">
                            <option value="Infant">Infant</option>
                            <option value="Child">Child</option>
                    
                            <option value="Adult">Adult</option>
                          </select>
                        <div class="mb-3">
                          <label for="imageUpload" class="form-label">Image-add some padding these boxes are strangly close</label>
                          <input type="file" class="form-control" id="imageUpload" name="file">
                        </div>
                        <button type="submit" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" value="Upload" form="createPostForm">Submit</button>
                    </form>
                  </section>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'content' );
    </script>
  </div>

  