<%- include('partials/header') -%>

<div class="flex justify-center items-center h-screen w-full bg-orange-300">
  <div class="w-1/2 bg-white rounded shadow-2xl p-8 m-4">
      <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">Register(I'm not in love with backround color, maybe replace with a image?)</h1>
      <form action="/signup" method="POST" enctype="multipart/form-data">
          <div class="flex flex-col mb-4">
              <label class="mb-2 font-bold text-lg text-gray-900" for="userName">User Name</label>
              <input class="border py-2 px-3 text-grey-800" type="text" class="form-control" name="userName" id="userName">
          </div>
          <div class="flex flex-col mb-4">
              <label class="mb-2 font-bold text-lg text-gray-900" for="email">Email</label>
              <input class="border py-2 px-3 text-grey-800" type="email" name="email" id="email">
          </div>
          <div class="flex flex-col mb-4">
            <label class="mb-2 font-bold text-lg text-gray-900" for="favoriteSpookyCharacter">Favorite Spooky Character</label>
            <input class="border py-2 px-3 text-grey-800" type="text" name="favoriteSpookyCharacter" id="favoriteSpookyCharacter">
        </div>
          <div class="flex flex-col mb-4">
              <label class="mb-2 font-bold text-lg text-gray-900" for="password">Password</label>
              <input class="border py-2 px-3 text-grey-800" type="password" name="password" id="password">
          </div>
          <div class="flex flex-col mb-4">
            <label class="mb-2 font-bold text-lg text-gray-900" for="confirmPassword">Confirm Password</label>
            <input class="border py-2 px-3 text-grey-800" type="confirmPassword" name="confirmPassword" id="confirmPassword">
        </div>
          <button class="block bg-teal-400 hover:bg-teal-600 text-white uppercase text-lg mx-auto p-4 rounded" type="submit">Create Account</button>
      </form>
      <a class="block w-full text-center no-underline mt-4 text-sm text-gray-700 hover:text-gray-900" href="/login">Already have an account?</a>
  </div>

  

